@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#exampleText{
  height: 250px;
}

#formContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: montserrat; 
  margin-bottom: 70px;
}


.formContact span{
  font-weight: bolder;
}

.formContact {
  /* margin-left: 20px; */
  text-align: center;
}

.fundacion{
  font-size: 20px
}

.formTitle{
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-group{
  display: flex;
  justify-content: center;
}

#buttonForm{
  /* margin-right: auto; */
  margin-left: 525px;
}

#explication{
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  padding: 50px 0;
}