.introContainer {
  display: flex;
  flex-direction: column;
}

.sousContainer {
  flex-direction: row;
  justify-content: space-around;

}

/* .left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
} */