@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.footer{
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-family: montserrat;
}

.logos{
  width: 3em;
  border-radius: 50%;
  margin: 5px 5px;
  
}

.partenaires{
  margin-top: 20px;
}