.mapContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
}

.pageContainer {
}

.paragraphContainer {
  display: flex;
  flex-direction: column;
}

.paragraphe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  margin: 6px;
  align-items: flex-start;
}

.cardLegend {
  margin-left: 10px;
}

.titreMap {
  margin-left: 14px;
}

.map {
  height: 480px;
  width: 60%;
  border-radius: 25px;
}

.popup {
  text-align: center;
  height: 90px;
}

.open {
  color: green;
}

.openColor {
  color:#4BA13A; 
}

.closeColor {
  color: #CA2626;
}

.legendLogo {
  height: 40px;
}

.legendAlign {
  display: flex;
  padding: 10px;
}

.legendText{
  margin-left: 6px;
  text-align: end;
}

Card {
  border-radius: 25px;
}