.mapContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.pageContainer {
}

.cardLegend {
  margin-left: 10px;
}

.map {
  height: 480px;
  width: 60%;
  border-radius: 25px;
}

.popup {
  text-align: center;
  height: 90px;
}

.open {
  color: green;
}

.openColor {
  color:#4BA13A; 
}

.closeColor {
  color: #CA2626;
}

.legendLogo {
  height: 40px;
}

.legendAlign {
  display: flex;
  padding: 10px;
}

.legendText{
  margin-left: 6px;
  text-align: end;
}

Card {
  border-radius: 25px;
}