.paragraph {
    margin-top: 5px;
}

.bigtitle1 {
    padding: 40px 0;
    text-align: center;
    font-family: montserrat;
    font-weight: bolder;
    font-size: 72px;
    margin-left: 200px;
}

.BG{
    background-image: url("../images/BGwhatisit.jpg");
    background-size: cover;
}