.paragraph {
    margin-top: 5px;
    width: 50%;
    margin-left: 70px;
    
}
.paragraph1 {
    margin-bottom: 68px;
    width: 50%;
    margin-left: 70px;
    
}
.bigtitle1 {
    padding: 40px 0;
    text-align: left;
    font-family: montserrat;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 70px;
    
}

.container {
    padding: 25px;
}